body{
    text-align:center;
    background-color:lightpink;
}
h1{
    text-align: center;
    color:Red;
    font-style: italic;
}
header{
    background-color: lightgrey;
    
}
#main-content{
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid black;
    padding: 10px;
    margin: 20px;
}
.catPara{
    color:white;
    font-weight:bold;
    font-size: 20px;
}